<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="taixin_dbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VXKHANH-PC;initial catalog=taixin_db;user id=sa;password=Ksystem!2013;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Manage_AssyLine.Properties.Settings.Servertaixin_popConnectionString"
      connectionString="Data Source=192.168.1.200;Initial Catalog=taixin_pop;User ID=sa;Password=oneuser1!"
      providerName="System.Data.SqlClient" />
    <add name="Manage_AssyLine.Properties.Settings.Clienttaixin_popConnectionString"
      connectionString="Data Source=|DataDirectory|\taixin_pop.sdf;Max Database Size=2047"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>